.no_control_card_template {
    display: inline-block;
    text-align: center;

    // h3 .sub_header_info_title {
    //     display: none;
    // }
    // h3 .sub_header_info {
    //     text-align: center;
    //     width: 100%;
    //     display: inline-block;
    //     margin-left: unset;
    // }

    .control-label {
        display: none;
    }
}